{% extends 'base.html.twig' %}

{% block title %}Annonce - {{ ad.title }}{% endblock %}

{% block body %}
    <div class="">
      <a href="{{ path('ad_index') }}">Retour </a>

      <h1>Annonce :</h1>
    </div>
    <img src="{{ asset(ad.imagePath) }}" class="bd-placeholder-img" width="140" height="140">

    <td>{{ ad.title }}</td>
    <table class="table">
        <tbody>
            <tr>
                <th>Description</th>
                <td>{{ ad.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ ad.price }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ ad.createdAt ? ad.createdAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Images</th>
                <td>
                    <img src="{{ asset(ad.imagePath) }}" class="bd-placeholder-img" width="140" height="140">
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ad_edit', {'id': ad.id}) }}">edit</a>

    <h1>Vos Questions :</h1>

{% endblock %}
